In [9]:
import pandas as pd
import numpy as np
import joblib
import skimage

In [4]:
os.chdir('G:\내 드라이브\제주_전기차\data')

In [5]:
ls

 G ����̺��� ����: Google Drive
 ���� �Ϸ� ��ȣ: 1983-1116

 G:\�� ����̺�\����_������\data ���͸�

2022-03-22  ���� 07:24    <DIR>          .
2022-03-18  ���� 10:08    <DIR>          ..
2022-03-19  ���� 08:28    <DIR>          .ipynb_checkpoints
2022-03-22  ���� 11:49             1,257 elc_usewordcloud.png
2022-03-19  ���� 05:00        11,217,817 elecafe.csv
2022-03-22  ���� 06:29         1,990,080 lr.pkl
2022-03-22  ���� 08:23        63,205,389 lrc.pkl
2022-03-23  ���� 01:59    <DIR>          model
2022-03-22  ���� 08:23       103,326,013 tvect.pkl
2022-03-23  ���� 03:13         3,538,879 ���������м�.csv
2022-03-17  ���� 11:39             1,256 ����Ű����.csv
2022-03-17  ���� 05:45         3,588,482 ���̹�-�����������ı�����.csv
2022-03-17  ���� 10:41         6,701,672 ��������������ũ�Ѹ�.csv
2022-03-17  ���� 10:41         3,506,240 ��������������ũ�Ѹ�.csv.part
2022-03-06  ���� 12:58        94,334,891 ���� �˻� ���_2022.03.06.xlsx
2022-03-22  ���� 11:58             1,257 �󵵼��ľ�.png
2022-03-18  ���� 09:53         2,420,493 ������ ��ȣȸ ������ũ�Ѹ�.csv
2022-03-22  ���� 05:18       170,464,751 ������_��ó������ūȭ.csv
2022-03-17  ���� 01:28             1,225 ���������ð˻����α��.csv
2022-03-17  ���� 11:38               358 ���������ɵ�����.csv
2022-03-17  ���� 11:38             3,720 ��������������.csv
2022-03-22  ���� 05:26       465,777,985 ��������ó���߰�.csv
2022-03-17  ���� 01:27               907 ������Ű������������α��.csv
2022-03-06  ���� 12:07             7,505 ��ü�����Ǵ�۰��_2022.03.06.xlsx
2022-03-17  ���� 01:30         1,927,668 �����ũ�Ѹ�.csv
2022-03-19  ���� 04:58         4,311,166 ���÷���sjeju.csv
              22�� ����         936,329,011 ����Ʈ
               4�� ���͸�  12,058,710,016 ����Ʈ ����

In [13]:
df = pd.read_csv("전기차_전처리및토큰화.csv")

In [21]:
df.dropna(inplace=True)

In [22]:
df.isnull().sum()

전처리    0
평가     0
dtype: int64

In [6]:
df_test = pd.read_csv('감성사전분석.csv')

In [8]:
df_test.head(2)

,Unnamed: 0,제목,날짜,내용,긍부정,href,year
0,0,[2022/3/17]오늘의 증권사 리포트 정리,2022.03.17,종목명 삼성전기 시총액억 투견 후기 안정적인 오피스 기반 ...,1,https://blog.naver.com/unicornup?Redirect=Log&...,2022
1,1,2022년 4박 5일 신혼여행 후기 ing 제주도 (Feat. 일오반식당...,2022.03.17,제주도신혼여행후기내돈내산년 년 월 일 드뎌 결혼식이 끝나고 우도 가자마자 전기차를 ...,0,https://blog.naver.com/apple_378?Redirect=Log&...,2022

In [11]:
lr=joblib.load('G:\내 드라이브\제주_전기차\data\model\전기차이진LogisticRegression().pkl')

In [24]:
lrc = joblib.load('lrc.pkl')

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
cvet = CountVectorizer
cvect_binary =  CountVectorizer()
cvect_binary.fit(df.전처리)

CountVectorizer()

In [57]:
df[df.평가 != 'E']

                                                      전처리 평가
0       아이오 닉 휠 베이스 가치 서비스 센터 가다 부품 수급 문제 로 렌터카 받다 오다 ...  P
1       현대차 아이오 닉 테슬라 모델 뭘 살다 요 현대차 아이오 닉 테슬라 모델 뭘 살다 ...  P
2       완판 롯데 렌터카 신 차장 테슬라 프로모션 대다 공지 드리다 스탠다드 롱 레인지 안...  P
3       코 나 충전 중 화재 로 전 손 되다 안녕하다 코 나 회원 이다 오늘 충전 중 자연...  P
4       전기차 충전 요금 원 복및 조속 한 충전 인프라 확충 대한 국민 청원 진행 하다 읽...  P
...                                                   ... ..
394813  기아 포인트 내 버 페이 포인트 전환 이번 새롭다 기아 포인트 네이버 페이 포인트 ...  P
394814   취소 차 잡다 카 마스터 님 계시다 요 계시다 요 아이오 닉 두다 좋다 지역 울릉 이다  P
394816  오다 진짜 미쳣나봐 요 쿠팡 드디어 미쳣나봐 요 ㅋㅋㅋ 나이키 랑 아디다스 뉴발 신...  P
394818  가입 인사 드리다 자기 소개 안녕하다 기다리다 있다 지역 고양시 한글 별명 뜻 이름...  P
394819  취소 차 문의 드리다 관련 되다 주제 대해 미리 카페 내 검색 하다 보다 네 아니다...  P

[291202 rows x 2 columns]

In [30]:
from sklearn.model_selection import train_test_split

In [58]:
X_train,X_test,y_train,y_test = train_test_split (
    df[df.평가 != 'E']['전처리'],df[df.평가 != 'E']['평가'],test_size=0.25,random_state=2021,stratify=df[df.평가 != 'E']['평가']
)

In [59]:
cvect_binary.fit(X_train)

CountVectorizer()

In [60]:
X_train_cv = cvect_binary.transform(X_train)
X_test_cv = cvect_binary.transform(X_test)
X_val_cv = cvect_binary.transform(df_test['내용'])

In [61]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [65]:
lr.fit(X_train_cv,y_train)

C:\Users\alsdn\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [67]:
lr.score(X_test_cv,y_test)

0.8918009368003187

In [25]:
cvect_binary.transform(df_test['내용'])

In [68]:
np.unique(lr.predict(X_val_cv))

array(['N', 'P'], dtype=object)

In [45]:
df_test.head(2)

,Unnamed: 0,제목,날짜,내용,긍부정,href,year
0,0,[2022/3/17]오늘의 증권사 리포트 정리,2022.03.17,종목명 삼성전기 시총액억 투견 후기 안정적인 오피스 기반 ...,1,https://blog.naver.com/unicornup?Redirect=Log&...,2022
1,1,2022년 4박 5일 신혼여행 후기 ing 제주도 (Feat. 일오반식당...,2022.03.17,제주도신혼여행후기내돈내산년 년 월 일 드뎌 결혼식이 끝나고 우도 가자마자 전기차를 ...,0,https://blog.naver.com/apple_378?Redirect=Log&...,2022

In [69]:
df_test['lr긍부정이진분류']=lr.predict(X_val_cv)

In [73]:
df_test['긍부정'][0]

1

In [72]:
df_test.lr긍부정[0]

'E'

In [71]:
df_test.lr긍부정이진분류[0]

'P'

In [74]:
pwd

'G:\\내 드라이브\\제주_전기차\\data'

In [ ]:
ls

In [75]:
df_test.to_csv('네이버블로그감성분석비교.csv',index=False)

In [76]:
df_test

,Unnamed: 0,제목,날짜,내용,긍부정,href,year,lr긍부정,lr긍부정이진분류
0,0,[2022/3/17]오늘의 증권사 리포트 정리,2022.03.17,종목명 삼성전기 시총액억 투견 후기 안정적인 오피스 기반 ...,1,https://blog.naver.com/unicornup?Redirect=Log&...,2022,E,P
1,1,2022년 4박 5일 신혼여행 후기 ing 제주도 (Feat. 일오반식당...,2022.03.17,제주도신혼여행후기내돈내산년 년 월 일 드뎌 결혼식이 끝나고 우도 가자마자 전기차를 ...,0,https://blog.naver.com/apple_378?Redirect=Log&...,2022,E,P
2,2,"제주공항숙소 시리우스 제주호텔: 트윈룸, 디럭스룸 장단점",2022.03.17,디럭스룸 후기 제주특별자치도 제주시 도령로 전화 공항의 지하 주차장은 지하층까지...,-1,https://blog.naver.com/zoonee96?Redirect=Log&l...,2022,E,P
3,3,서귀포 바닷가 한적한 마을에서 힐링을 해봅시다...,2022.03.17,수용 가능해 쾌적하고 편안하게 머무르기 좋습니다 에디터 전기차 충전기를 이용할 수...,8,https://blog.naver.com/yenyo?Redirect=Log&logN...,2022,E,P
4,4,[신혼여행②]제주1일차_제주로렌트카/순옥이네명가/신라호텔...,2022.03.17,신혼여행 일정은 제주도 도착 이날 아 오빠가 전기차 충전에 대해서 걱정이 많아서 ...,0,https://blog.naver.com/yumichoe9810?Redirect=L...,2022,E,P
...,...,...,...,...,...,...,...,...,...
9773,9773,제주도 여행 렌트카 대여 :: 스타렌터카,2019.06.08.,렌터카 하우스 적혀있는대로 가면 됩니다 날씨가 참 좋던 제주 저 멀리 내 돈 내고...,4,https://blog.naver.com/s__1202?Redirect=Log&lo...,2019,E,P
9774,9774,타기_쏘카 & 쏘카스테이션 제주 이용후기(Feat. 쏘카패스),2019.06.08.,같은 전기차 지프 레니게이드 등 다양한 차량이 여행객을 기다리고 있었습니다 제주전기...,1,https://blog.naver.com/aramf16?Redirect=Log&lo...,2019,E,P
9775,9775,"♨ 제주도 6박 7일 여행 비용, 경비 다 알려드립니당 ♨",2019.06.08.,그래서 제주도를 박 일 여행을 다녀왔습니당ㅎㅎㅎㅎ 마니주 펜션 옥상에서 렌터카 차종...,0,https://blog.naver.com/star1233star?Redirect=L...,2019,E,P
9776,9776,가볼만한 곳/제주도 숨은 명소/제주 청초밭 방문 후기,2019.06.07.,규모가 어마어마합니다 걸어서 다 못갈것 같더라고요 영주산을 바라보며 걷기 걷기도 했...,0,https://blog.naver.com/nahmeerang0?Redirect=Lo...,2019,E,P
9777,9777,뜸했던 쳐비 제주도 혼여(혼자여행)하고왔어요:),2019.06.07.,이번에 혼자 제주도여행하면서 은근 깨알 꿀팁 많이 알았으니 제대로 여행후기 남겨볼게...,5,https://blog.naver.com/tuvenus?Redirect=Log&lo...,2019,E,P

In [77]:
df_test.긍부정.value_counts()

 0     2942
 2     1755
 1     1217
 4      759
-1      732
 3      694
-2      602
 6      285
 5      279
-3      170
 7      129
-4       91
 8       55
-5       22
 9       18
-6       12
 10       9
 12       3
 11       2
-9        1
-8        1
Name: 긍부정, dtype: int64

In [ ]:
df_test.긍부정

In [78]:
df_test['긍부정'] = df_test['긍부정'].apply(lambda x: 'P' if ( x > 0) else 
                                    'N' if (x < 0) else 
                                   'E' if ( x== 0) else 
                                    '미분류')

In [111]:
df_test.긍부정[3]

'P'

In [110]:
df_test.lr긍부정[3]

'E'

In [112]:
df_test.lr긍부정이진분류[3]

'P'

In [113]:
df_test.내용[3]

'수용 가능해 쾌적하고 편안하게 머무르기 좋습니다 에디터  전기차 충전기를 이용할 수 있어요 위치  제주 서귀포 숙소 상세정보 요금조회 이용후기 숙소위치'

In [105]:
df_test[df_test.내용.str.contains('전기차')].reset_index()

,index,Unnamed: 0,제목,날짜,내용,긍부정,href,year,lr긍부정,lr긍부정이진분류
0,1,1,2022년 4박 5일 신혼여행 후기 ing 제주도 (Feat. 일오반식당...,2022.03.17,제주도신혼여행후기내돈내산년 년 월 일 드뎌 결혼식이 끝나고 우도 가자마자 전기차를 ...,E,https://blog.naver.com/apple_378?Redirect=Log&...,2022,E,P
1,2,2,"제주공항숙소 시리우스 제주호텔: 트윈룸, 디럭스룸 장단점",2022.03.17,디럭스룸 후기 제주특별자치도 제주시 도령로 전화 공항의 지하 주차장은 지하층까지...,N,https://blog.naver.com/zoonee96?Redirect=Log&l...,2022,E,P
2,3,3,서귀포 바닷가 한적한 마을에서 힐링을 해봅시다...,2022.03.17,수용 가능해 쾌적하고 편안하게 머무르기 좋습니다 에디터 전기차 충전기를 이용할 수...,P,https://blog.naver.com/yenyo?Redirect=Log&logN...,2022,E,P
3,4,4,[신혼여행②]제주1일차_제주로렌트카/순옥이네명가/신라호텔...,2022.03.17,신혼여행 일정은 제주도 도착 이날 아 오빠가 전기차 충전에 대해서 걱정이 많아서 ...,E,https://blog.naver.com/yumichoe9810?Redirect=L...,2022,E,P
4,5,5,"g80, s90, 벤츠e클래스, 테슬라모델y 모두 타본 시승 후기~~~!!!!",2022.03.17,제주에서 글을 쓰는 봉우리 입니다 차알아보고 계시는군요 저도 작년에 처음 시승 해본...,E,https://blog.naver.com/borasos?Redirect=Log&lo...,2022,E,P
...,...,...,...,...,...,...,...,...,...,...
8966,9773,9773,제주도 여행 렌트카 대여 :: 스타렌터카,2019.06.08.,렌터카 하우스 적혀있는대로 가면 됩니다 날씨가 참 좋던 제주 저 멀리 내 돈 내고...,P,https://blog.naver.com/s__1202?Redirect=Log&lo...,2019,E,P
8967,9774,9774,타기_쏘카 & 쏘카스테이션 제주 이용후기(Feat. 쏘카패스),2019.06.08.,같은 전기차 지프 레니게이드 등 다양한 차량이 여행객을 기다리고 있었습니다 제주전기...,P,https://blog.naver.com/aramf16?Redirect=Log&lo...,2019,E,P
8968,9775,9775,"♨ 제주도 6박 7일 여행 비용, 경비 다 알려드립니당 ♨",2019.06.08.,그래서 제주도를 박 일 여행을 다녀왔습니당ㅎㅎㅎㅎ 마니주 펜션 옥상에서 렌터카 차종...,E,https://blog.naver.com/star1233star?Redirect=L...,2019,E,P
8969,9776,9776,가볼만한 곳/제주도 숨은 명소/제주 청초밭 방문 후기,2019.06.07.,규모가 어마어마합니다 걸어서 다 못갈것 같더라고요 영주산을 바라보며 걷기 걷기도 했...,E,https://blog.naver.com/nahmeerang0?Redirect=Lo...,2019,E,P
8970,9777,9777,뜸했던 쳐비 제주도 혼여(혼자여행)하고왔어요:),2019.06.07.,이번에 혼자 제주도여행하면서 은근 깨알 꿀팁 많이 알았으니 제대로 여행후기 남겨볼게...,P,https://blog.naver.com/tuvenus?Redirect=Log&lo...,2019,E,P